# SPDX-License-Identifier: MIT

# Systemd 启动脚本
# 放在 /etc/systemd/system 之下
# 提供了一些必要元素，具体内容可能要根据运行环境稍作修改。

[Unit]
Description=web server daemon
After=network.target

[Service]
PIDFile=/tmp/server.air.pid-404
User=www
Group=www
WorkingDirectory=/var/www/server
ExecStart=/var/www/server/server
Restart=always

[Install]
WantedBy=multi-user.target
